.showcase-component {
    .showcase-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .about {
            width: 41rem;
            margin-right: 10rem;
        }

        .showcase-wrapper {
            position: relative;

            .img-wrapper {
                max-width: 82.1rem;
                width: 100%;

                .img {
                    width: 100%;
                }
            }

            .card-component {
                position: absolute;
                background: $black;
                bottom: 0;
                right: 0;
                transform: translate(-15%, 50%);
                width: 40rem;
                padding: .4rem 1rem;
            }
        }
    }
}